<div class="container-fluid">

    <div class="alert alert-info" role="alert">
        <i class="bi bi-info-circle"></i> <span [innerHTML]="getInfoTextFromType(gameType)"></span>
    </div>

    <div *ngIf="gameType=='match-sentence'">
        <div *ngFor="let choice of getChoiceValuesOfData()">
            {{choice}}
        </div>
    </div>
    <br>
    <div *ngFor="let sentence of data; let i = index ">
        <span>{{i+1}}. &nbsp;<span [innerHTML]="sentence.sentence"> </span> &nbsp;
            <select aria-label="Default select example" (change)="changeAnswer($event.target.value, i)">
                <option *ngFor="let option of sentence.values"> {{option}}</option>
            </select>
        </span>
        <span *ngIf="showAnswers" style="color: green"> {{sentence.solution}}</span>
    </div>
    <br>
    <button type="button" class="btn btn-outline-danger" (click)="submit()">Submit</button>
    <button type="button" style="margin-left: 2px;" class="btn btn-outline-primary"
        (click)="showHideAnswers()" [disabled]="disableShowAnswersButton">Show/Hide answers</button>
</div>