<div class="move_match">
    <h2>Start</h2>
    <div cdkDropList #startList="cdkDropList" [cdkDropListData]="start" [cdkDropListConnectedTo]="[pois,ven]" class="match_list" (cdkDropListDropped)="drop($event)">
        <div class="match_box" *ngFor="let item of start" cdkDrag>{{item}}</div>
    </div>
</div>

<div class="move_match">
    <h2>Poisonous</h2>
    <div cdkDropList #startList="cdkDropList" [cdkDropListData]="pois" [cdkDropListConnectedTo]="[start,ven]" class="match_list" (cdkDropListDropped)="drop($event)">
        <div class="match_box" *ngFor="let item of start" cdkDrag>{{item}}</div>
    </div>
</div>

<div class="move_match">
    <h2>Venomous</h2>
    <div cdkDropList #startList="cdkDropList" [cdkDropListData]="ven" [cdkDropListConnectedTo]="[pois,start]" class="match_list" (cdkDropListDropped)="drop($event)">
        <div class="match_box" *ngFor="let item of start" cdkDrag>{{item}}</div>
    </div>
</div>