<br>

<div class="container-fluid">
    Please choose a topic:

    <select [(ngModel)]="chosenTopic" (ngModelChange)="setDictionaryData($event)">
        <option *ngFor='let choice of topicChoiceValues' [ngValue]="choice.id"> {{choice.label}}</option>
    </select> <br><br>
    <div class="row" *ngIf="chosenTopic">
        <div class="col-2">
            <ul class="list-group">
                <li *ngFor="let word of dictionaryData" style="cursor: pointer" class="list-group-item"
                    (click)="chooseWord(word)">{{word.word}}</li>
            </ul>
        </div>
        <div class="col-5" *ngIf="chosenWord">
            <app-word-card [word]="chosenWord.word" [wordType]="chosenWord.wordType"
                [transcription]="chosenWord.transcription" [translation]="chosenWord.translation">

            </app-word-card>
        </div>
    </div>
</div>
