<ul class="nav nav-tabs">

  <li class="nav-item">
    <a class="nav-link" href="dictionary"> <i class="bi bi-book"></i> Dictionary</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="explanations"><i class="bi bi-info-circle"></i> Explanations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="learning-game"><i class="bi bi-controller"></i> Learning Game</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="assessment">Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="profile"><i class="bi bi-person"></i> Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="match-sentence"><i class="bi bi-person"></i> Test von Eric der noch Probleme hat...</a>
  </li>
</ul>
<router-outlet></router-outlet>